{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<table id=table>
        <thead>
        <tr>
        <th>matiere</th>
        <th>Departement</th>
        <th>Annee</th>
        <th>module</th>
        <th>semestre</th>
        <th>introduction</th>
        <th>prerequis</th>
        <th>contenue</th>
        </tr>
        </thead>
        <tbody>
    <tr>
    <td><pre>{{matiere.getName}}</pre></td>
    <td><pre>{{matiere.getDepartement}}</pre></td>
    <td><pre>{{matiere.getAnnee}}</pre></td>
    <td><pre>{{matiere.getModule}}</pre></td>
    <td><pre>{{matiere.getSemestre}}</pre></td>
    <td><pre>{{matiere.getIntroduction}}</pre></td>
    <td><pre>{{matiere.getPrerequis}}</pre></td>
    <td><pre>{{matiere.getContenu}}</pre></td>
    <td><a href="{{path('matiere_edit',{annee:annee,departement:departement,semestre:semestre,module:module,'id':matiere.id})}}"> modifer </a></td>
    <td><a href="{{path('matiere_delete',{annee:annee,departement:departement,semestre:semestre,module:module,'id':matiere.id})}}"> surprimer </a></td>
    </tr>
</tbody>
</table>
{% endblock %}